.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  position: relative;
  border-bottom: 1.5px solid #D8D8D8;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #282c34;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.active {
  background-color: white;
  color: #282c34;
}

.img-small {
  height: 80px;
  width: 80px;
  margin-right: 7px;
}

.img-big {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 20px;
  width: 20px;
}

.row {
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #D8D8D8;
  position: relative;
}

.row > div {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 13px;
}

.first {
  width: 100px;
}

.third {
  position: absolute;
  z-index: -1;
  left: 100px;
  top: 60px;
}

.second {
  width: 400px;
  font-weight: bold;
}

.text {
  text-decoration: none;
  color: #282c34;
}

.details {
  width: 250px;
}

.top-bar-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-back {
  position: absolute;
  left: 16px;
}

.logo-delete {
  position: absolute;
  right: 16px;
}

.top-bar {
 
}

.content-img {
  padding-top: 80px;
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content-text {
  text-align: center;
  margin-left: 13px;
  margin-right: 13px; 
}

.description {
  margin-top: 30px;
  margin-left: 17px;
  margin-right: 17px;
  line-height: 1.8em;
}

input {
  width: 90%;
  margin-left: 17px;
  margin-right: 17px;
  border: 1.5px solid #979797;
}

textarea {
  width: 90%;
  margin-left: 17px;
  margin-right: 17px;
  border: 1.5px solid #979797;
  resize: none;
}

.input-title {
  margin-left: 17px;
}

.input-title {
  margin-top: 8px;
  margin-bottom: 4px;
  color: #979797;
}

.add-btn {
  width: 90%;
  margin-top: 30px;
  margin-left: 17px;
  margin-right: 17px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: #3B3B3B;
  color: white;
  border: none;
}

.new-item {
  margin-top: 50px;
}

.menu-items {
  display: none;
}

@media (min-width: 500px) {
  .row {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .first {
    width: 100px;
  }
  
  .third {
    width: 75px;
    z-index: auto;
    position: static;
    margin-right: auto;
  }
  
  .second {
    width: 425px;
    font-weight: bold;
  }

  .details {
    width: 250px;
  }

  .ul {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .topnav {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: none;
  }

  .logo-menu {
    display: none;
  }

  .menu-items {
    display: flex;
    justify-content: center;
  }

  #list-menu-item {
    text-decoration: underline;
  }

  .active {
    display: none !important;
  }

  .new-item {
    text-align: center;
  }

  .new-item-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .input-title-wrapper {
    width: 120px;
  }

  .input-title { 
    text-align: left;
  }

  .input-wrapper {
    margin-top: 8px; 
    width: 480px;
    text-align: left;
  }

  input {
    width: 200px;
  }

  .input-description {
    width: 400px;
    margin-left: 17px;
    margin-right: 17px;
    border: 1.5px solid #979797;
    height: 8em;
  }

  .add-btn {
    width: 200px;
    margin-left: -110px;
    background-color: #3B3B3B;
    color: white;
    border: none;
  }

  .details-content {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  .top-bar {
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  .logo-back {
    position: static;
  }
  
  .logo-delete {
    position: static;
    float: right;
  }

  .desktop-wrapper {
    display: flex;
    justify-content: center;
  }

  .content-img {
    margin-left: 18px;
    width: 200px;
  }

  .content-text {
    position: relative;
    width: 400px;
  }

  .title {
    position: absolute;
    left: 50px;
    top: 50px;
    text-align: left;
  }

  .name {
    position: absolute;
    left: 50px;
    top: 210px;
    font-size: 2em;
  }
}
